.webex-button {
    background-color: #3BC715;
    border-radius: 5px;
    padding: 10px 17px;
    color: #fff;
    font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}
.webex-button:hover {
    background-color: #33B611;
}
.webex-button:disabled {
    background-color: grey;
    cursor: default;
}
p {
    font-size: 15px;
}
p.large {
    font-size: 18px;
    font-weight: bold;
}
h4 {
    padding: 10px;
    width: 100%;
    font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;   
    background-color: #dbdbdbda;
}
h4.rounded-header {
    line-height: 25px;
    font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
    padding: 8px 0px 8px 20px;
    background-color: #5690a8;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
}
.no-pad-side {
    padding-left: 0px;
    padding-right: 0px;
}
